<section class="nav-container">
  <link rel="stylesheet" href="/css/partials/navbar.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

  <nav class="nav-links">
    <a class="nav-link" href="/recipes">
      <span> Visi receptai </span>
    </a>

    <a class="nav-link" href="/authorRecipes">
      <span> Mano receptai </span>
    </a>

    <a class="nav-link" href="/recipes/new">
      <span> Naujas receptas </span>
    </a>

    <% if (currentUser) { %>
    <a class="nav-right nav-link" href="<%= `/users/${currentUser.id}` %>">
      <span> <%= currentUser.getFullName() %> </span>
    </a>

    <a class="nav-link" href="/logout">
      <span> Atsijungti </span>
    </a>
    <% } else { %>
    <a class="nav-right nav-link" href="/login">
      <span> Prisijungti </span>
    </a>
    <% } %>
  </nav>
</section>
