.recipe-author {
    margin: 20px 0;
    text-align: center;
    color: #777;
}

.recipe-author {
    display: flex;
    flex-direction: row;
}
.recipe-author:before, .recipe-author:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #ccc;
    margin: auto 20px;
}

.recipe-description {
    margin: 20px 0;
    padding: 0 20px;
}

.recipe-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
    padding: 16px;
}

.recipe-rating {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 10px 0;
}

#recipe-current-user-rating {
    color: #777;
    font-size: 12px;
    margin-top: 8px;
}

.recipes-comment {
    border: 1px solid #ccc;
    margin: 30px;
    padding: 5px;
}

.comment-user {
    margin-bottom: 20px;
}

.comment-text {
    margin-left: 20px;
}

.comment-form {
    margin-top: 20px;
    padding: 20px;
}