.recipe-small-container {
    border-bottom: 2px solid #777;
}

.recipe-small-header {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px;
}

.recipe-small-title {
    font-size: 32px;
    font-weight: bold;
}

.recipe-small-author {
    font-size: 14px;
    color: #777;
    padding-left: 20px;
}

.recipe-small-date {
    font-size: 14px;
    color: #777;
    margin-left: auto;
}

.recipe-small-text {
    padding: 0 20px;
    margin: 20px 0;
}

.recipe-small-bottom {
    margin: 20px 0;
    padding: 0 20px;
}
