html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin-top: 1rem;
}
.header {
  font-size: 35px;
}
.nav-container {
  display: flex;
  align-items: center;
  height: 47px;
  justify-content: space-between;
  padding: 0.05rem 1.5rem;
}
.nav-links {
  font-size: 15px;
  color: #135dec;
}
.nav-links a {
  padding: 4px 12px;
}
.search-form-container {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 48px;
  width: 20rem;
  background-color: white;
  padding-left: 1.5rem;
  filter: drop-shadow(0px 0.1px 0.3px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
}
.search-form-container input {
  border: none;
  background: none;
  outline: none;
  padding-left: 15px;
}
.main-container {
  display: grid;
  grid-template-columns: 22rem auto;
}
.left-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-side-container li {
  padding: 1rem;
}
.right-side-container header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 1rem;
}
/* This is a single-line comment */
