<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagrindinis</title>
</head>
<body>
  <%- include('../../partials/navbar.html.ejs'); %>

  <h1>Receptai</h1>

  <% recipes.forEach((recipe) => { %>
    <div class="recipe-small-container">
      <h2><%= recipe.title %></h2>

      <p>
        <%= recipe.description.substring(0, 100) %>...

        <a href="<%= recipe.generatePageLink() %>">Skaityti daugiau</a>
      </p>
    </div>
  <% }) %>
</body>
</html>
