<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head/meta.html.ejs') %>

    <title>Pagrindinis</title>

    <%- include('../../partials/tailwindMeta.html.ejs') %>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/partials/recipes/recipeSmall.css" />
  </head>
  <body>
    <%- include('../../partials/navbar.html.ejs') %>

    <div class="main-container">
      <header class="page-header">
        <h1 class="page-title">Receptai</h1>
      </header>

      <% recipes.forEach((recipe) => { %> <%- include('../../partials/recipes/recipeSmall.html.ejs', { recipe }) %> <%
      }) %>
    </div>
  </body>
</html>
